<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd 
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd  
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd"
     default-lazy-init="false">
     
     
<!--    <dubbo:application name="dubbo_consumer"></dubbo:application>  
   使用zookeeper注册中心暴露服务地址    
   <dubbo:registry address="zookeeper://127.0.0.1:2181" ></dubbo:registry> 
   <dubbo:annotation package="com.vungu.operation.**" />   
   <dubbo:reference interface="com.vungu.interfaces.CommentService" id="commentService" timeout="1200000"></dubbo:reference> 
   <dubbo:reference interface="com.vungu.interfaces.ModelService" id="modelservice" timeout="1200000"></dubbo:reference>
   <dubbo:reference interface="com.vungu.interfaces.ActivitylogService" id="activitylogservice" timeout="1200000"></dubbo:reference> 
   <dubbo:reference interface="com.vungu.interfaces.PaySettingService" id="paySettingService" timeout="1200000"></dubbo:reference>
   <dubbo:reference interface="com.vungu.interfaces.AccuPointsService" id="accuPointsService" timeout="1200000"></dubbo:reference>
   <dubbo:reference interface="com.vungu.interfaces.LoginLogService" id="loginlogService" timeout="1200000"></dubbo:reference>
    <dubbo:reference interface="com.vungu.interfaces.CommodityService" id="commodityService" timeout="1200000"></dubbo:reference>
  <dubbo:reference interface="com.vungu.interfaces.ComplainService" id="complainService" timeout="1200000"></dubbo:reference>
   <dubbo:reference interface="com.vungu.interfaces.SelGoodsTypeService" id="selGoodsTypeService" timeout="1200000"></dubbo:reference> -->
   
   
	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
	<context:component-scan base-package="com.vungu.appinterface.**.service,com.vungu.regcache.cservice,com.vungu.regcache.cpo">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- 加载 properties -->
	<context:property-placeholder location="classpath:properties/global.properties" />
	<!-- SpringContext -->
	<bean id="springContextHolder" class="com.vungu.vp.core.utils.SpringContextHolder" lazy-init="false" />
	<!-- c3p0连接池配置 -->
	<bean id="ds1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${db.driverClass}" />
		<property name="jdbcUrl" value="${db.jdbcUrl}" />
		<property name="user" value="${db.user}" />
		<property name="password" value="${db.password}" />		
	</bean>

	
	
	<!--sqlSessionFactory配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="mapperLocations" value="classpath:mybatis-mapper/**/*Mapper.xml" />
		<property name="configLocation" value="classpath:ssm-config/mybatis/mybatis_config.xml" />
		<property name="dataSource" ref="ds1" />
	</bean>




	<!--自动扫描mapper包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.vungu.appinterface.**.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>



	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
</beans>